.sandbox {
  &__title {
    margin-top: rem(80);
    margin-bottom: rem(30);
    color: var(--a-mainAccent);
  }
  &__subtitle {
    margin-bottom: rem(50);
    color: var(--a-headerText);
  }

  &__section {
    display: flex;
    align-items: center;
    &-test {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      min-width: rem(500);
      min-height: rem(300);
      margin-bottom: rem(30);
      padding: rem(40) rem(80);
      background-color: var(--a-bgLight);
    }
    &-text {
      margin-bottom: rem(18);

      span {
        padding-left: rem(20);
        font-weight: bold;
      }
    }
  }

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: rem(60);
    min-height: rem(60);
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    &-count {
      min-width: rem(60);
      min-height: rem(60);
      background-color: var(--a-bgAccent);
    }
  }
}
