.useful {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: rem(100) rem(12);

  @media screen and (min-width: $tablet) {
    max-width: rem(768);
    padding: rem(100) rem(40);
  }
  @media screen and (min-width: $tabletMax) {
    max-width: rem(832);
  }
  @media screen and (min-width: $desktopMin) {
    max-width: rem(1080);
  }
  &__title {
    margin: rem(70) 0 rem(10) 0;
    color: var(--a-mainAccent);
    user-select: none;

    @media screen and (min-width: $tablet) {
      margin: rem(80) 0 rem(50) 0;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: rem(600);
    width: 100%;
    margin-bottom: rem(40);
  }

  &__block {
    &-header {
      margin-bottom: rem(12);
      color: var(--a-accentText);
    }

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
    }

    &-item {
      display: flex;

      &-logo {
        width: rem(16);
        height: rem(16);
        margin-right: rem(8);
      }
    }

    &-link {
      display: flex;
      width: 100%;
      max-height: rem(28);
      margin: rem(6) 0;
      color: var(--a-headerText);

      &:hover {
        color: var(--a-accentText);
      }

      .nuxt-icon {
        display: flex;
        flex-shrink: 1;
        margin-right: rem(8);
      }
      span {
        font-size: inherit;
        font-weight: 400;
      }
    }
  }
}
