.css {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__title {
    margin: rem(30) 0 rem(20) 0;
  }
  &__subtitle {
    margin: rem(20) 0 rem(10) 0;
  }

  &__section-code {
    display: flex;
    align-items: center;
    color: var(--a-bgLight);
    background-color: var(--a-bgDark);
  }

  &__section-pre {
    display: flex;
    align-items: center;
    padding: 0;
    overflow: auto;
    white-space: pre;
  }

  &__code {
    & .accent {
      color: var(--code-accent);
    }
    & .ident {
      color: var(--code-ident);
    }
    & .var {
      color: var(--code-var);
    }
  }
}
