.portfolio {
  display: flex;
  margin-top: rem(100);

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(20) rem(20);
    width: 100%;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(50% - rem(10));
    min-height: rem(100);
    border: rem(1) solid var(--a-borderMain);

    &-info {
      &-toggle {
        position: absolute;
        bottom: rem(4);
        right: rem(4);
        &:hover {
          svg {
            fill: var(--a-bgLight);
          }
        }
        svg {
          fill: var(--a-accentText);
        }
      }
    }
  }

  &__mob-view {
    position: absolute;
    top: rem(4);
    right: rem(4);
    &:hover {
      svg {
        fill: var(--a-bgLight);
      }
    }
    svg {
      fill: var(--a-accentText);
    }
  }
}
